attributes_gt
attributes_gt_no_ssd
attributes_gt_sku
attributes_gt_sku_no_ssd/no_ft
attributes_gt_sku_no_ssd/all
attributes_gt_sku_no_ssd/all_2
attributes_gt_sku_no_ssd/all_fc
!attributes_gt_sku_no_ssd/all_query/train.txt
!attributes_gt_sku_no_ssd/all_query/test.txt
**.caffemodel
**.solverstate
**/train.txt
**/test.txt
**/predict_features.txt
**/predict_features_train.txt
**/pad_train.txt
**/pad_test.txt
backup
drama-taobao-match
liblinear-2.1
small_looklive_test_seq_3
*~
